/*******************************************************/
/*********    RDoC/Network Default CSS Styles    *******/
/*******************************************************/

body {
  background-color: #707070;
  color: white;
}

.fb_box {
  width: 35vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -175%);
}

.picture_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

/*TODO: change color of prompt/fixaiton?*/
.fixation {
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: black;
}

.cue-text {
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bigbox {
  width: 100%;
  margin: auto;
  min-height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.instructBox {
  width: 80vw;
  height: 10vw;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: 0%;
  transform: translate(-50%, -50%);
  background-color: none;
  font-size: 24px;
}

.prompt_box {
  width: 75%;
  height: 20%;
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -45%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

/* .prompt_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-content p {
  margin: 15px 0;
} */

img.center {
  height: auto;
  width: auto\9;
  /* ie8 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 65%;
  height: 120px;
  width: 120px;
}

/*******************************************************/
/***************  Spatial TS CSS Styles  ***************/
/*******************************************************/
.quad_box {
  width: 85vw;
  height: 85vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  background-color: none;
  text-align: center;
}

.decision-top-left {
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  background-color: none;
  text-align: center;
}

.decision-bottom-left {
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  background-color: none;
  text-align: center;
}

.decision-top-right {
  height: 40vh;
  width: 40vw;
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  background-color: none;
  text-align: center;
}

.decision-bottom-right {
  height: 40vh;
  width: 40vw;
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  background-color: none;
  text-align: center;
}