body {
  background-color: #707070;
  color: white;
}

.image-container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fixation {
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: white;
}

input[type="number"] {
  -webkit-appearance: textfield; /* Removes default spinners in WebKit browsers */
  appearance: textfield;
  margin: 0; /* Adjust as needed */
  height: 40px; /* Example height, adjust according to your needs */
  padding: 0 8px; /* Adjust padding to ensure text is vertically centered */
  width: 200px;
  border: 2px solid #ccc; /* Example border, adjust as needed */
  border-radius: 4px; /* Optional: for rounded corners */
  font-size: 16px; /* Adjust font size as needed */
}

/* For Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Removes default spinners in WebKit browsers */
  margin: 0;
}

/* For Firefox */
input[type="number"]::-moz-focus-inner {
  border: 0;
}
