/*******************************************************/
/*********    RDoC/Network Default CSS Styles    *******/
/*******************************************************/
body {
  background-color: #707070;
  color: white;
}

.fb_box {
  width: 35vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -175%);
}

.picture_box {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.fixation {
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: black;
}

.cue-text {
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: none;
}

.bigbox {
  width: 100%;
  margin: auto;
  min-height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.instructBox {
  width: 80vw;
  height: 10vw;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: 0%;
  transform: translate(-50%, -50%);
  background-color: none;
  font-size: 24px;
}

.prompt_box {
  width: 75%;
  height: 20%;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -45%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

img.center {
  height: auto;
  width: auto\9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 65%;
  height: 120px;
  width: 120px;
}

/*******************************************************/
/***********          2x2 CSS Styles          **********/
/*******************************************************/

.upperbox {
  width: 35vw;
  height: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -100%);
}

.lowerbox {
  width: 35vw;
  height: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -25%);
  background-color: none;
}

.gng_number {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: none;
  transform: translate(-50%, -50%);
}