/*******************************************************/
/*********    RDoC/Network Default CSS Styles    *******/
/*******************************************************/

body {
  background-color: #707070;
  color: white;
}

.fb_box {
  width: 35vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -175%);
}

.picture_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.fixation {
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: white;
}

.cue-text {
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bigbox {
  width: 100%;
  margin: auto;
  min-height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.instructBox {
  width: 80vw;
  height: 10vw;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: 0%;
  transform: translate(-50%, -50%);
  background-color: none;
  font-size: 24px;
}

.prompt_box_simple {
  width: 75%;
  height: 20%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -45%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.prompt_box_operation {
  width: 75%;
  height: 20%;
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -45%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.prompt_box_response {
  width: 75%;
  height: 20%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

img.center {
  height: auto;
  width: auto\9;
  /* ie8 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 65%;
  height: 120px;
  width: 120px;
}

/*******************************************************/
/************        Span CSS Styles        ************/
/*******************************************************/

.digit-span-text {
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
}

.numbers {
  font-weight: 900;
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 50%;
}

.active-box {
  color: white;
  background-color: black;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.response-active {
  border: 8px solid black;
  background-color: lightgray;
  /* Color for arrow key navigation */
}

.active-box {
  background-color: black;
  /* Color for arrow key navigation */
}

.spacebar-box {
  background-color: white;
}
.jspsych-instructions-nav {
  display: flex !important;
}

.numbox {
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.jspsych-content {
  max-width: 100%;
}

.first-active {
  border: 3px solid black;
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  height: 75vh;
}

.box {
  flex-basis: 25%;
  height: 25%;
  box-sizing: border-box;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.distractor-box {
  flex-basis: 12.5%;
  height: 12.5%;
  box-sizing: border-box;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerbox {
  height: 70vh !important;
}
.arrows-container {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure alignment is centered */
}

.top-container,
.bottom-container {
  display: flex;
  justify-content: center;
  position: relative; /* Establishes positioning context */
}

.spacebar-btn {
  width: 156px; /* Calculated as three arrow boxes plus margins */
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff, #f8f8f8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: absolute; /* Position absolutely so it doesn't affect the centering of arrows */
  left: -164px; /* Move it left by its width plus some margin */
}

.arrow-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  background: linear-gradient(to bottom, #ffffff, #f8f8f8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.activated {
  background: linear-gradient(to bottom, #5e5e5e, #5e5e5e);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5px);
}
.arrow {
  border: solid black;
  border-width: 0 1.5px 1.5px 0; /* Half of the original border width */
  display: inline-block;
  padding: 5px; /* Half of the original padding */
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* tutorial survey */
.sv_row {
  background: #707070 !important;
  color: white !important;
}

.sv_body {
  background: #707070 !important;
  color: white !important;
}

.sv_q_radiogroup {
  display: flex !important;
}

.sv-action-bar {
  margin: 0px !important;
  padding: 0px !important;
}

#sv-nav-complete {
  margin-top: 12px;
}

.sv_nav_btn,
.sv_complete_btn {
  padding: 10px 20px !important;
  background-color: cornflowerblue !important;
  color: white !important;
  font-size: 16px !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) !important;
  cursor: pointer !important;
}

.sv_nav_btn:hover,
.sv_complete_btn:hover {
  background-color: darkblue !important;
}

.sv_q_title {
  font-size: 24px !important;
  width: 50vw;
  line-height: 120%;
  text-align: justify;
}

.sv_q_required_text {
  display: none !important;
}
